* {
	margin: 0px;
	padding: 0px;
    box-sizing:border-box;
}

body#homepage{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    font-weight: 300;
    line-height: 1.6;
}
button {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}
.logocontainer{
    flex: 1;
}
.logo{
    font-size: large;
    font-weight: 1000;
    margin: 5px;
}
.nav-links{
    margin-left: 180px;
    display: flex;
}
.nav-links{
justify-content: space-around;
list-style: none;
}
.nav-link{
    margin: 5rem;
    font-size: 18px;
    text-decoration: none;
}
.biopic{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.biopic1{
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}
.intro-text h1{
    font-size: 50px;
}
.intro-text1 h1{
  font-size: 50px;
  color: blue;
}
.intro-text1 h2{
  font-size: 30px;
  color:black
}
.intro-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.photo img{
  max-width: 500px;
  height:600px;
  object-fit: cover;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
@media screen and (max-width: 1024px) {
  .biopic {
    flex-direction: column;
  }
  .introduction{
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1{
    font-size: 30px;
  }
  .intro-text h2{
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links{
    flex-direction: column;
  }
}

body#photography {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(120deg, #2dc4df 0%, #e08478 100%);
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 90%;
  margin: 2rem auto; 
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
}

/* The Images */
.gallery-img {
  max-width: 200px;
  height:300px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}

body {
  font:16px/20px Arial, Helvetica, sans-serif;
  color:#000;
  min-width:578px; /* 300 (item's min-width) is 45% of 578 */ 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p { margin:5px 0; }
a { color:inherit;text-decoration:none; }
a:hover { text-decoration:underline; }
.right { float:right; }

#bigTitle {
  font-size:24px;
  margin:18px 0;
}
#poweredBy {
  font-size:11px;
}
#poweredBy a {
  color:#000;
}

.videoItem { 
  float:left;
  min-width:260px;
  max-width:400px;
  margin-bottom:20px;
}

@media screen and (max-width: 824px) { /* 400 (item's max-width) is 47% of 851 */
  .videoItem { width:48.5%; margin-right:3%; }
  .videoItem:nth-child(2) { margin-right:0; }
}
@media screen and (min-width: 825px) and (max-width: 1250px) { /* 400 (item's max-width) is 30% of 1250 */
  .videoItem { width:32%; margin-right:2%; }
  .videoItem:nth-child(3) { margin-right:0; }
}
@media screen and (min-width: 1251px) and (max-width: 1702px) { /* 400 (item's max-width) is 23% of 1739 */
  .videoItem { width:24%; margin-right:1.3333%; }
  .videoItem:nth-child(4) { margin-right:0; }
}
@media screen and (min-width: 1703px) { 
  .videoItem { width:19%; margin-right:1.25%; }
  .videoItem:nth-child(5) { margin-right:0; }
}
.videoItem:last-child {
  margin:0;
}
.thumbnail {
  position:relative;
  width: 200px;
  height: 250px;
  object-fit: fill;
  display:inline-block;
  width:100%;
  box-sizing:border-box;
  padding:0;
}
.thumbnail img {
  position:relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display:inline-block;
  top:0;
  left:0;
}
.thumbnail:after {
  content:'';
  position:absolute;
  Z-index:1;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:rgba(0,0,0,0.25);
  transition: all .5s;
  -webkit-transition: all .5s;
}
.videoItem:hover .thumbnail:after {
  opacity:0;
}
.duration {
  position:absolute;
  height:18px;
  z-index:2;
  bottom:5px;
  right:5px;
  background:rgba(0,0,0,.9);
  color:#fff;
  padding:2px 6px;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
}
.play {
  position: absolute;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(https://static1.dmcdn.net/images/home/play.png.v11b2fefa92a0dc9b);
  height: 36px;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  top: 50%;
  width: 36px;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.category {
  font-size:11px;
  margin:2px 0;
  text-transform:uppercase;
  font-weight:bold;
  color:#aaa;
}
.category.promoted {
  color:#e09021;
}
.title {
  font-weight:bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow : hidden;
  text-overflow: ellipsis;
}
.title a:hover {
  text-decoration:none;
  color:#0079B8;
}
.author {
  color:#1c157e;
  font-size:13px;
}
