* {
	margin: 0px;
	padding: 0px;
    box-sizing:border-box;
}

body#homepage{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    font-weight: 300;
    line-height: 1.6;
}
button {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}
.logocontainer{
    flex: 1;
}
.logo{
    font-size: large;
    font-weight: 1000;
    margin: 5px;
}
.nav-links{
    margin-left: 180px;
    display: flex;
}
.nav-links{
justify-content: space-around;
list-style: none;
}
.nav-link{
    margin: 5rem;
    font-size: 18px;
    text-decoration: none;
}
.biopic{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.intro-text h1{
    font-size: 50px;
}
.intro-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.photo img{
  max-width: 500px;
  height:600px;
  object-fit: cover;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body#photography {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(120deg, #2dc4df 0%, #e08478 100%);
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 90%;
  margin: 2rem auto; 
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
}

/* The Images */
.gallery-img {
  max-width: 200px;
  height:300px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}