html{
    background: url('../images/pic1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    width: 100%;
}
#content{
    margin-left: 10%;
    width: 80%;
    height:inherit;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgba(248, 212, 187, 0.8);
}
.navMenu{
    display: flex;
    justify-content: center;
    align-content: space-between;
    column-gap: 10%;
}
.displaySection{
    width: 100%;
    border: rgb(187, 186, 186);
    border-style: solid;
    justify-content: center;
    border-width: 0.01px;
    margin-top: 30px;
}
.navButton{
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    margin: 5px;
    border: none;
    background: none;
    
}
.navButton:hover{
    text-decoration: underline;
    cursor: pointer;
}
.active{
    text-decoration: underline;
}
.home .paragraph:nth-child(2){
    color: red;
    font-size: 40px;
}

.footer{
    font-size: 15px;
    margin-top: 10px;
}